SECRET_KEY=asd
DEBUG=False
ALLOWED_HOSTS=*
SITE_ID=1
TIME_ZONE=Asia/Tehran
USE_SSL_CONFIG=True
DISABLE_BROWSEABLE_API=True
SHOW_SWAGGER=True
SHOW_DEBUGGER_TOOLBAR=False


MINIO_STORAGE_ENDPOINT=test-minio.sama-test.svc:9000
MINIO_STORAGE_ACCESS_KEY=jUPNo7aXZegW5c2ZhRw0M4jMqWiRaeRO
MINIO_STORAGE_SECRET_KEY=v4bzhiT3Hfn3eC5GnMM40qzUnPa2DSvO
MINIO_STORAGE_USE_HTTPS=False
MINIO_EXTERNAL_STORAGE_ENDPOINT=https://test-minio.darkube.app

SENTRY_ENABLE=False
SENTRY_DNS=https://5be0305947074660aac9a49b6ecb5f64@sentry.hamravesh.com/556


PGDB_ENGINE=django.db.backends.postgresql
PGDB_NAME=postgres
PGDB_USER=root
PGDB_PASS=RJJSp860wimPRpfD0ilk9Kbf
PGDB_HOST=esme.iran.liara.ir
PGDB_PORT=34942`
DATABASE=postgres


EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=mail.example.com
EMAIL_PORT=465
EMAIL_HOST_USER=no-reply@example.com
EMAIL_HOST_PASSWORD=password
EMAIL_USE_SSL=True
EMAIL_USE_TLS=False
DEFAULT_FROM_EMAIL=no-reply@example.com